/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.mainbody {
  background-image: url("wov.png");
}
.centerbody{
  width:75%;
  margin:auto;
}
.bigheader {
  border: 2px solid #A1887F;
  background-color:#A1887F;
  border-radius: 30px;
  font-size:300%;
  font-family: 'Bungee', cursive;
}
.regularp{
   border: 2px solid #A1887F;
  background-color:#A1887F;
  border-radius: 20px;
  font-size:150%;
  font-family: 'Quicksand', sans-serif;
  clear:left;
  margin-top:30px;
}

.mainlinks{
   border: 2px solid #A1887F;
  background-color:#A1887F;
  border-radius: 20px;
  font-size:150%;
  font-family: 'Quicksand', sans-serif;
  float:left;
  width:49%;
  height:700px;
  margin-left:10px;
  margin-bottom:10px;
}

.mainlinks a:link, a:visited{
  background-color: #A1887F;
    color: white;
    padding: 30px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    width:88%;
    margin: 0 0 0 0;
}
.mainlinks a:hover{
  background-color:brown;
}
.linkimg {
  display:inline;
  width:100%;
  margin-top:0px;
}
img {
    border-radius: 15px;
}
.regularp1{
  margin-top:30px;
   border: 2px solid #A1887F;
  background-color:#A1887F;
  border-radius: 20px;
  font-size:150%;
  font-family: 'Quicksand', sans-serif;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    float:right;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    padding: 10px 40px  10px 40px;
    background-color: #dddddd;
    text-decoration:none;
    color:black;
  }
  li a:hover {
    background-color: #555;
    color: white;
  }
  .navbar {
    border: 2px solid #A1887F;
    background-color:#A1887F;
    border-radius: 30px;
    margin-top:10px;
    overflow:auto;
  } 
.navpotato {
    height: 40px;
    width:40px;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
    float:left;
    position:absolute;
}

.navpotato:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
